[Desktop Entry]
Exec=sudo /home/sensor/Desktop/coviduipy/run.sh
Type=Application
Terminal=true
Icon=/home/sensor/Desktop/coviduipy/coronavirus.png
Name[en_US]=Dashboard
